*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html{
  background-color: #838587;
  
  margin-left: 15%;
  margin-right:15%;
}

/* TextStyle */
.textintro{
  font-size: 3rem;
}

.introname{
  font-size: 1rem;
  color: #34abf0;
}

a, p, .contacts>li, div{
  color:#838587; 
  font-family: 'Poppins', sans-serif;
}

h1{
  color: #34abf0; 
}


h2,h4, b{
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
 
}

h3{
  color: #34abf0;
  font-family: 'Oswald', sans-serif;
}

hr{
  margin: 25px 0px 25px 0;
}

/*=============================== NAVIGATION ===============================*/
.navbar{
  z-index: 99;
  position: fixed; top: 0px; width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000; 
}

.navul{
  display: flex;
  align-items: center;

} 

.navul>li{
  padding: 10px 20px 10px 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

}

.navlogo{
  padding: 20px;
  width: 40px;
  height: 40px;
}

.menuIcon{
  overflow: hidden;
  height: 0px;
  
}

.navtext:hover{
  color: #34abf0;
}

a:hover{
  color: #34abf0;
}


/*=============================== STRUCTURE ===============================*/
 .cont{
  background-color:    #191919;
 }
 
.primarycontainer{ 

}


.backgroundPhoto{
  width: 25rem; 
  height: 21rem;
  background-size: cover;
}

.mycontentintroduction{  
  padding: 0 5% 0 5%;
}

.introcontainer{  
  display: flex;
  align-items: center;
  height: 25rem;
  /* background: rgb(18, 99, 102); */
}

.aboutmecontainer{
  height: 25rem; 
}

.homecontainer{
  margin-top: 4rem; 
}



/*=============================== ABOUTME ===============================*/
.mycontent{
  padding: 6.25rem 0 6.25rem 0;
}
 
.info>div{
  color:#838587;
}

.intro{
  margin-top: 20px;
}

.skillInfo{
  display: grid; 
}

.skillInfo>div{
  color: #838587;
  padding: 20px;
  text-align: center;

}

.skillInfo>div>h3{
  color: #ffffff;
}

.hexagon{
  margin-left: 30%;
  height: 8rem;
  width: 8rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillicon{
  position:absolute;
  z-index: 10;
}

.diva{ 
  z-index: 2;
  position: absolute;
  height: 128px;
  width: 70px;
  background-color: #ffffff;
}

.divb{ 
  z-index: 3;
  position: absolute;
  height: 125px;
  width: 73px;
  background-color: #ffffff;
  transform: rotate(-60deg);
}

.divc{ 
  z-index: 4;
  position: absolute;
  height: 125px;
  width: 73px;
  background-color: #ffffff;;
  transform: rotate(60deg);
}

.icondesc{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/*=============================== FEATURED PROJECTS =============================== */

.featuredprojcont{ 
  padding: 6.25rem 0 6.25rem 0;;
}

.fproject{
  display: grid;
  grid-template-columns: 55% 45% ;
}

.fprojimg{
  height: 20rem;
  background-color: aliceblue;
}

.fprojdesc{ 
  text-align: end; 
  width: 100%;
  /* background-color: #6a5904; */
}


/*=============================== PROJECTS ===============================*/

.projectsection{
  
  padding: 6.25rem 0 6.25rem 0;
}

.projectitemcontainer{
  height: 16rem; 
  background-color: #838587;
  border-radius: 8px;
}

.projectscontainers{
  margin: 3% 0 0 0 ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 20px;
}

/*=============================== CONTACT ===============================*/
 

.contactcontainer{
  padding: 6.25rem 0 6.25rem 0;
  width: 100%; 
  /* background-color: #03803d; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactformcontainer{
  height: 20rem;
  margin: 0% 10% 0% 10%;
  /* background-color: #838587; */

  display: flex;
  flex-direction:column;
  justify-content: center;
}

.inputboxcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name, .email{
  margin-top: .2rem;
  width: 34.6rem;
  height: 2rem;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.message{
  
  margin-top: .2rem;
  width: 34.6rem;
  height: 10rem;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}
.sbtn{
  margin-top: .2rem;
  width: 36rem;
  height: 2.5rem;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  background-color: #34abf0;
  font-size: medium;
  color: black;
  /* border-color: #000000; */
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: medium;
  margin-left: 5rem;
}

.none{
  height: 0px;
  width: 0px;
}

/*=============================== FOOTER ===============================*/
.footer{
  height: 10rem;
  background-color: #000000;
}

/*=============================== FOOTER ===============================*/
@media screen and (max-width:990px){

}

@media screen and (max-width:770px){

}