*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
 

/* TextStyle */

 
a , .contacts>li, div{
  color:#838587; 
  font-family: 'Poppins', sans-serif;
}

h1{  
  font-size: 35px;
  color: #34abf0; 
}
h2{
  color: white;
  padding: 1rem 0 1rem 0;
}

h3{
  color: #34abf0;
  font-family: 'Oswald', sans-serif;
   
}
 

p{
  color:#838587; 
  padding: 1rem 0 1rem 0;
 
}

h4, b{
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

/*=============================== NAVIGATION ===============================*/

 
.navbar{
  z-index: 99;
  position: fixed; top: 0px; width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000000;  
  height: 75px;
}

.navul{
  display: flex;
  align-items: center;
  height: 75px;
} 


.navul li{
  margin: 10px 20px 10px 20px;
}

.navbar ul li a{
  font-size: 20px;
}

.navlogo{
  padding: 20px;
  width: 40px;
  height: 40px;
}

.menubar{
  display: none;
}
 

.navtext:hover{
  color: #34abf0;
}

.resnavigation{
  display: none;
}
 


/*=============================== STRUCTURE ===============================*/
 

body{
  background-color:    #191919;
}
 
.primarycontainer{ 
  padding-left: 15%;
  padding-right: 15%; 
}

.profileimgcontainer{
  height: 21rem;
}

.backgroundPhoto{
  height: 100%;
  object-fit: contain;
}

.introtextcont{  
  padding: 0 5% 0 5%;
}

.introcontainer{  
  display: flex;
  align-items: center; 
}

.sectioncontpaddingY{
  padding: 6.25rem 0 6.25rem 0;
}

/*=============================== ABOUTME ===============================*/
 
.aboutmehr{
  margin: 15px 0px 30px 0;
  width: 13rem;
  height: .15rem;
  background-color: white;
}

.mycontent{
  padding: 6.25rem 0 6.25rem 0;
}
 
.info>div{
  color:#838587;
}

 
.skillInfo>div{ 
  padding: 20px;
  text-align: center;
}
 
.hexagon{
  margin-left: 30%;
  height: 8rem;
  width: 8rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillicon{
  position:absolute;
  z-index: 10;
}

.diva, .divb , .divc{ 
  position: absolute;
  height: 128px;
  width: 70px;
  background-color: #ffffff;
}

.diva{ 
  height: 128px;
  width: 70px;
}

.divb{ 
  height: 125px;
  width: 73px;
  transform: rotate(-60deg);
}

.divc{ 
  height: 125px;
  width: 73px;
  transform: rotate(60deg);
}

.skill{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.skill span{
  padding: 1rem;
}

/*=============================== FEATURED =============================== */
 

.featuredhr{
  margin: 15px 0px 3rem 0;
  width: 11.6rem;
  height: .15rem;
  background-color: white;
}

 

.fproject{
  display: grid;
  grid-template-columns: 55% 45% ;
  margin-top: 2rem;
}

.fprojimg{
  height: 20rem;
  background-color: #fff;
  border-radius: 9px;
}

.fprojdesc{ 
  padding: 0 2rem 0 2rem;
  width: 100%;
  /* background-color: #6a5904; */
}

.fprojdesc ul {
  display: flex; 
}
 
.fprojdesc ul li {
  margin-right: 2rem;
}
 


/*=============================== PROJECTS ===============================*/
 
.projectshr{
  margin: 15px 0px 3rem 0;
  width: 11rem;
  height: .15rem;
  background-color: #fff;
}

.projectitemcontainer{
  height: 14rem; 
  background-color: #fff;
  border-radius: 8px;
}

.projectscontainers{
  margin: 3% 0 0 0 ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 20px;
}

/*=============================== CONTACT ===============================*/
 
.contacthr{
  margin: 15px 0px 2rem 0;
  width: 15rem;
  height: .15rem;
  background-color: white;
}

.contactcontainer{ 
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputboxcontainer{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 36rem;
  padding: 5px;
}

.inputboxcontainer input{
  width: 100%;
  margin: .3rem;
  padding: 0 0 0 .4rem;
  height: 2.5rem;
  outline: none;
  border: none;

  font-size: 16px;
}


.inputboxcontainer textarea{
  margin: .3rem;
  width: 100%;
  padding: 0 0 0 .4rem;
  height: 12rem;
  outline: none;
  border: none;
  font-size: 16px;
}

.inputboxcontainer button{
  padding: 0 0 0 .4rem;
  margin: .3rem;
  width: 101%;
  height: 2.5rem;
  outline: none;
  border: none;
  background-color: #34abf0;
  color: white;
  font-weight: 500;
  font-size: 16px;
}
 

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(88, 80, 80);
  font-size: 16px;
}

.none{
  height: 0px;
  width: 0px;
}


 



/*=============================== FOOTER ===============================*/
.footer{
  height: 10rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.footer div{
  display: flex;
  align-items: center;
  margin: 2rem;
  
}